# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
/.idea/

# gradle
build
.gradle
gradlew
gradlew.bat

# other
eclipse
run
LICENSE
changelog.txt
CREDITS.txt
LICENSE-Paulscode SoundSystem CodecIBXM.txt
LICENSE-Paulscode IBXM Library.txt
.*
/options.txt
/usercache.json
/usernamecache.json
/config/
/saves/
/logs/
